.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.picture {
    text-align: left;
    width: 15rem;
    height: 15rem;
}

.item_details {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
}